.Hero{
   background-image: url(/unsplash_w3eFhqXjkZE.png);
   background-size: cover; 
}
body{
    margin: 0;

}
a{
    text-decoration:none;
    color: inherit;
}

header{
    display: grid;
    grid-template: 58px 58px / 3fr 1fr 1fr 1fr;
    border-bottom: white solid;
}


.Contact{
    grid-row:span 2;
    background-color: white;
    color: black;

}

header a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    color: white;
    border-left: white solid;
}

.logo{
    grid-row:span 2;
    display: flex;
    justify-content: start;
    padding: 0 33%;
    font-size: xx-large;
    color: white;
    font-weight: 700;

}

.logo a {
    border: none;
}
header svg{
    margin-right: 5px;
}

.borderbutton{
    border-bottom: white solid;
}


.invest{
    padding: 100px;
}

.invest h1{
    color: white;
    font-size: 100px;
}

.invest p{
    color: white;
    font-size: 20px;
}

.scrollbutt{
    background-color: transparent;
    border: none;
    color: white;
    display: flex;
    align-items: center ;
    gap: 20px;
}


.Witha{
    display: flex;
    justify-content: space-around;
    background-color:gray;
    color: white;
    font-size: 25px;
    padding: 20px 0;
    font-weight: 600;
}

.propIQ{
position: relative;
padding: 100px;
}
.propIQ img{
position: absolute;
right: 100px;
top: 100px;
z-index: -1;
}


.propIQ h2{
    font-size: 50px;
    margin-top: 20%;
}

.propIQ p{
 font-size: 28px;
 background-color: #004E92;
 color: white;
 padding: 50px;
 width: fit-content;
}

.SERVICES{
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 100px;
    gap: 30px;
}
.SERVICES img{
    width: 100%;
}


.SERVICEP{
    background-color:white;
    color: black;
    padding: 50px;
    font-size: 24px;
    margin: 0;
}
.SERVICET p{
    margin: 0;
    padding: 15px 10px;
    font-size: 28px;
    width: 100%;
    border-bottom: solid 1px grey;
}


.Ourprojects{
position: relative;
padding: 100px;

}

.ourprojectstext{
    position: absolute;
    top: 100px;
    right: 100px;
    text-align: end;
}

.ourprojectstext p{
    background-color:#004E92;
    font-size: 28px;
    padding: 50px;
    color: white;
}
.ourprojectstext h1{
    margin-bottom: 20%;
}

.ourprojectstext h2{
    font-size: 28px;
}